.game {
    width: 200px;
    margin: 20px auto;
}

.title {
    text-align: center;
    font-family: 'Verdana';
    color: rgb(179, 6, 223);
    font-size: 40px;
}

.result {
    color:#4400cc;
    font-family: 'Lucida Grande';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.winner{
    color:#4400cc;
    font-family: 'Lucida Grande';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.tie{
    color:#4400cc;
    font-family: 'Lucida Grande';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.moves {
    color:#4400cc;
    font-size: 20px;
}

.movesButton {
    color:blueviolet;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #4400cc;
    background-color: #d9b3ff;
    margin: 2px;
}

.newGameButton {
    color:blueviolet;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #4400cc;
    background-color: #d9b3ff;
    margin: 2px;
    visibility: visible;
}
