.game {
  width: 200px;
  margin: 20px auto;
}

.title {
  text-align: center;
  font-family: "Verdana";
  color: rgb(133, 47, 208);
  font-size: 40px;
}

.whos-turn {
  color: #4400cc;
  font-family: "Lucida Grande";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.winner {
  color: #4400cc;
  font-family: "Lucida Grande";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.tie {
  color: #4400cc;
  font-family: "Lucida Grande";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.change-moves-button {
  color: blueviolet;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #4400cc;
  background-color: #d9b3ff;
  margin: 2px;
  visibility: true;
}

.new-game-button {
  color: blueviolet;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #6c39d1;
  background-color: #ebe3f2;
  margin-left: 20%;
}

.intro {
  color: rgb(78, 2, 145);
  font-size: 18px;
  text-align: center;
  font-family: "Lucida Grande";
  margin: auto 20px;
}
